@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
        contrast(103%);

    --body-bg: #292e39;
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.breakPoint(lg) {
        --header-shadow-bg: rgba(0, 0, 0, 0.2);
    }

    //  Dropdown
    --dropdonw-bg-color: #2f3441;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(17%) sepia(12%) saturate(995%) hue-rotate(185deg)
        brightness(94%) contrast(89%);
    --top-menu-border-color: #171c28;
    --menu-column-item-color: brightness(0) saturate(100%) invert(90%) sepia(0%) saturate(5513%) hue-rotate(249deg)
        brightness(111%) contrast(95%);

    // Sidebar
    --sidebar-bg: #292e39;
    --sidebar-shadow: rgba(23, 28, 40, 0.4);
}
